---
---

<div id="container" class="p-4">
	<main>
		Welcome to <span class="font-bold">Stupid Captcha!</span><br />
		Before accessing the website, we must ensure you are not a <span class="text-red-500 font-bold">robot</span> 🤖.<br />
		<button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-xl cursor-pointer hover:bg-blue-400"><a href="/captcha">I'm not a robot</a></button>
	</main>
</div>